* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}

body{
    background-color: #FDFDFD;
}

.header {
    padding: 5px 0 5px 0;
    background-color: #1B1B1B;
    box-shadow: 0 3px 5px #1B1B1B;
    /* margin-bottom: 10px; */
    z-index: 99;
}

.header_content {
    width: 1170px;
    color: #FDFDFD;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.logo__link {
    cursor: pointer;
}

.logoImage {
    width: 150px;
}

.header_navbar .navbar__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
}

.list__item {
    align-items: center;
}

.list__item a {
    color: #FDFDFD;
    text-decoration: none;
    transition: all 0.2s ease-in;
    border-bottom: 2px solid rgba(251,185,30, 0);
    box-sizing: content-box;
}

.list__item a:hover {
    color: #FBB91E;
    border-bottom: 2px solid rgba(251,185,30, 1);
    text-shadow: #FBB91E 0 0 5px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contact__tel {
    color: #FDFDFD;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.contact__tel:hover {
    color: #FBB91E;
}

.contact__btn {
    padding: 5px;
    color: #FBB91E;
    background: none;
    border: 2px solid #FBB91E;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.contact__btn:hover {
    background-color: #FBB91E;
    background: #FBB91E;
    color: #1B1B1B;
    cursor: pointer;
    box-shadow: 0 0 5px #FBB91E;
}

.main-page {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.welcome_wrapp {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: relative;
    top: 25vh;
}

.welcome_page {
    z-index: 10;
    background-image:  url(../images/3.jpg);
    background-size: cover;
    min-height: calc(100vh - 90px);
    box-shadow: inset 0 -100vh 0 rgba(14, 14, 14, 0.75);
}

.title_page {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.first_title {
    text-align: start;
    font-size: 2.5em;
    color: #FBB91E;
}

.second_title {
    text-align: start;
    font-size: 1.5em;
}

.third_title {
    text-align: start;
    font-size: 1.5em;
    color: #FDFDFD;
}

.welcome_wrapp {
    color: #FDFDFD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    /* gap: 10px; */
}

.contact_form {
    background-color: rgba(27,27,27, 0.6);
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    border: 1px solid #FBB91E;
    display: inline-block;
    margin: 50px auto 0 auto;
}

.input-places {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputNumber {
    background: none;
    color: #FBB91E;
    border: none;
    border: 2px solid #FBB91E;
    border-radius: 5px;
    padding: 10px;
}

.inputNumber::placeholder {
    color: #fbb91ea2;
}

.btn_form {
    padding: 10px;
    color: #FBB91E;
    background: none;
    border: 2px solid #FBB91E;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.btn_form:focus {
    /* outline: 2px dashed #FBB91E; */
}

.btn_form:hover {
    background-color: #FBB91E;
    background: #FBB91E;
    color: #1B1B1B;
    cursor: pointer;
    box-shadow: 0 0 5px #FBB91E;
}

.footer {
    background-color: #1B1B1B;
    border-top: 1px solid #fdfdfd50;
    text-align: center;
    box-shadow: 0 -3px 5px #1B1B1B;
}

.footer_content {
    width: 1170px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer_logo {
    text-align: center;
    margin-top: 10px;
}

.footer .navbar__list {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
}

.footer .list__item {
    margin: 5px;
}

.footer_copyright {
    text-align: center;
    border-top: 1px solid #fdfdfd50;
    padding: 10px;
}

.copyright__item {
    display: inline-block;
    color: #FDFDFD;
}

.footer__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.work-time {
    color: #FDFDFD;
}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact_info a{
    margin: 5px;
    color: #FDFDFD;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.contact a:hover {
    color: #FBB91E;
    text-shadow: #FBB91E 0 0 5px;
}

.telephone,.email {
    display: flex;
    align-items: center;
}

.telephone:hover, .email:hover{
    color: #FBB91E;
    text-shadow: #FBB91E 0 0 5px;
}

.telephone:hover .icon svg path {
    fill: #FBB91E;
}

.email:hover .icon svg path {
    fill: #FBB91E;
}

.icon {
    margin-right: 10px;
}

.icon svg {
    width: 30px;
}

.icon svg path {
    fill: #FDFDFD;
    transition: all 0.2s ease-in-out;
}

.social_links {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.social__link svg{
    width: 30px;
}

.social__link svg path {
    width: 1px;
    fill: #FDFDFD;
    transition: all 0.2s ease-in-out;
}

.social__link svg:hover path{
    fill: #FBB91E;
}

@media (max-width: 1200px) {
    .header_content, .welcome_wrapp, .main-page, .footer_content{
        width: 890px;
    }
    
    .footer .navbar__list {
        flex-direction: column;
        margin: 15px;
    }
}

@media (max-width: 920px) {
    *{
        font-size: 95%;
    }

    .welcome_wrapp, .main-page, .footer_content{
        width: 100vw;
    }

    .header {
        display: none;
    }

    .input-places {
        flex-direction: column;
    }
    
    .footer__items{
        flex-direction: column;
    }

    .contact_info{
        align-items: center;
    }
}