* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
}


.header {
    padding: 10px 0 10px 0;
    background-color: #1B1B1B;
    box-shadow: 0 3px 5px #1B1B1B;
    margin-bottom: 10px;
}

.header_content {
    width: 1170px;
    color: #FDFDFD;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.logo__link {
    cursor: pointer;
}

.logoImage {
    width: 150px;
}

.header_navbar .navbar__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.list__item {
    align-items: center;
}

.list__item a {
    color: #FDFDFD;
    text-decoration: none;
    margin: 10px;
    transition: all 0.2s ease-in;
    border-bottom: 2px solid rgba(251,185,30, 0);
    box-sizing: content-box;
}

.list__item a:hover {
    color: #FBB91E;
    border-bottom: 2px solid rgba(251,185,30, 1);
    text-shadow: #FBB91E 0 0 5px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__tel {
    color: #FDFDFD;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.contact__tel:hover {
    color: #FBB91E;
}

.contact__btn {
    padding: 10px;
    color: #FBB91E;
    background: none;
    border: 2px solid #FBB91E;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    margin: 5px;
}

.contact__btn:hover {
    background-color: #FBB91E;
    background: #FBB91E;
    color: #1B1B1B;
    cursor: pointer;
    box-shadow: 0 0 5px #FBB91E;
}

.main-page {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.title_page {
    text-align: center;
    font-size: 2em;
}

.footer {
    background-color: #1B1B1B;
    border-top: 1px solid #fdfdfd50;
    text-align: center;
}

.footer_content {
    width: 1170px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer_logo {
    text-align: center;
    margin-top: 10px;
}

.footer .navbar__list {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
}

.footer .list__item {
    margin: 5px;
}

.footer_copyright {
    text-align: center;
    border-top: 1px solid #fdfdfd50;
    padding: 10px;
}

.copyright__item {
    display: inline-block;
    color: #FDFDFD;
}

.footer__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact_info a{
    margin: 5px;
    color: #FDFDFD;
    text-decoration: none;
}

.contact a:hover {
    color: #FBB91E;
}

.telephone,.email {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}